In [1]:
import pandas as pd

tr_df=pd.read_csv("/home/prithvirajnaik/prithvi/files/test.csv")
tr_df

   src  ref
0    1    2
1    2    3
2    1    4
3    5    6
4    6    7
5    8    2
6    2    1
7    9    2

In [2]:
# # Convert DataFrame columns to arrays
# src = tr_df['src'].values
# ref = tr_df['ref'].values

# Alternatively, you can use the to_numpy() method
src_array = tr_df['src'].to_numpy()
ref_array = tr_df['ref'].to_numpy()
print(src_array,ref_array)

[1 2 1 5 6 8 2 9] [2 3 4 6 7 2 1 2]

In [34]:
def create_symmetric_relations(x,y,dict):
    # for i in range(len(src_array)):
        if x not in dict:
            dict[x] = []
        if y not in dict:
            dict[y] = []
        if y not in dict[x]:
            dict[x].append(y)
        if x not in dict[y]:
            dict[y].append(x)    
        return dict

In [35]:
dict={}
for i in range(len(src_array)): 
    x=src_array[i] 
    y=ref_array[i]
    dict=create_symmetric_relations(x,y,dict)

In [31]:
dict

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}

In [36]:
for i,k_array in dict.items():
    for k in k_array:
        if k in dict:
            j_array=dict[k]
            for j in j_array:
                create_symmetric_relations(i,j,dict)

In [37]:
dict

{1: [2, 4, 1, 3, 8, 9],
 2: [1, 3, 8, 9, 2, 4],
 3: [2, 1, 3, 8, 9, 4],
 4: [1, 2, 3, 4, 8, 9],
 5: [6, 5, 7],
 6: [5, 7, 6],
 7: [6, 5, 7],
 8: [2, 1, 3, 4, 8, 9],
 9: [2, 1, 3, 4, 8, 9]}

In [39]:
for x,y in dict.items():
    for z in y:
        if z==x:
            y.remove(z)

In [40]:
dict

{1: [2, 4, 3, 8, 9],
 2: [1, 3, 8, 9, 4],
 3: [2, 1, 8, 9, 4],
 4: [1, 2, 3, 8, 9],
 5: [6, 7],
 6: [5, 7],
 7: [6, 5],
 8: [2, 1, 3, 4, 9],
 9: [2, 1, 3, 4, 8]}